:root {
    --breakpoint-sm: 375px;
    --breakpoint-md: 540px;
    --breakpoint-lg: 7685px;
    --breakpoint-xl: 1024px;
    --breakpoint-xxl: 1280px;
    --breakpoint-xxl: 1400px;
    --fontSize: 16px;
    --textColor: #666;
    --textDarkColor: #000;
    --textLinkColor: #000;
    --backgroundColor: #fff;
    --font-family: 'Avenir', Helvetica, Sans Serif;
//--secondaryColor: rgba(102, 51, 153, 0.9);

}

html {
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
}

body {
    background: var(--backgroundColor);
    color: var(--mainColor);
    font-family: var(--font-family);
    font-size: var(--fontSize);
    line-height: calc(var(--fontSize) * 1.5);
    overflow-wrap: break-word;
    padding-inline: calc(var(--fontSize) / 2 + 1px);
}

a {
    color: var(--textLinkColor)
}

a:hover{text-decoration: underline};

.container{
    max-width:
}