header#header {
    cursor: pointer;
    padding: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    nav {
        display: none;
    }
}
#menu-icon {
    width: 30px;
    height: 40px;
    display: inline-block;
    cursor: url('../assets/img/arrow2.svg'), move;
    padding: calc(var(--gutter) * 2);
    div:after {
        opacity: 0;
    }
}
#menu-icon:after,
#menu-icon:before,
#menu-icon div {
    background-color: #fff;
    content: '';
    display: block;
    height: 1.5px;
    margin: 10px 0;
    transition: all 0.8s ease-in-out;
    border-radius: 1px;
}
#menu-icon div {
    width: 70%;
}
#menu-icon:hover {
    /*&:before {transform: translateY(6px) rotate(135deg);}*/
    /*&:after {transform: translateY(-6px) rotate(-135deg);}*/
    div {
        transform: scaleX(2.3) translateX(-15px);
        position: relative;
    }
    div:after {
        content: 'Menu';
        font-family: var(--font-secondary);
        font-size: 150%;
        text-transform: uppercase;
        position: absolute;
        top: -30px;
        width: 100px;
        transform: scaleX(0.4) translateX(-74px);
        color: #ccc;
        opacity: 1;
    }
    &:before {
        transform: translateY(20px);
    }
    &:after {
        transform: translateX(-75px);
    }
}