html {
    overflow: hidden auto;
}

body {
    background: var(--backgroundColor);
    color: var(--textColor);
    font-family: var(--font-family);
    font-size: var(--fontSize);
    line-height: calc(var(--fontSize) * 1.5);
    overflow-wrap: break-word;
    padding-inline: calc(var(--fontSize) / 2 + 1px);
}

a {
    color: var(--textLinkColor);
    &:hover{text-decoration: underline};
}
